#main_sec {
    width: 90%;
    margin: auto;
}

.hero_info {
    h1 {
        font-size: 3.36rem;
        color: $bg-color;
    }
    span {
        border-bottom: 2px solid $primary-color;
    }
    p {
        width: 560px;
        font-size: 17.5px;
    }
    button {
        font-size: 18px;
        text-align: center;
        display: inline-block;
        background-color: $primary-color;
        transition: all 0.3s ease;
        &:hover {
            transform: scale(1.1);
        }
    }
}

@include laptop {
    .hero_info {
        h1 {
            // background-color: red;
            font-size: 3rem;
        }
        p {
            // background-color: yellow;
            width: 500px;
            // font-size: 17px;
        }
    }
}

@include md-laptop {
    .hero_info {
        h1 {
            // background-color: red;
            font-size: 2.7rem;
        }
    }
}

@include sm-laptop {
    .hero_info {
        h1 {
            // background-color: red;
            // font-size: 3rem;
            padding-top: 2rem;
        }
        p {
            width: 100%;
            font-size: 19px;
        }
    }
}

@include sm-tablet {
    .hero_info {
        h1 {
            // background-color: red;
            font-size: 35px;
        }
        p {
            // width: 100%;
            font-size: 17px;
        }
        button {
            padding: 13px 16px;
        }
    }
}

@include mobile {
    .hero_info {
        button {
            width: 100%;
            font-size: 17px;
            padding: 10px 0px;
            &:hover {
                transform: scale(1.03);
            }
            // padding: 13px 10px;
        }
    }
    #main_sec {
        img {
            margin-top: 3.8rem;
        }
    }
}

@include sm-mobile {
    .hero_info {
        h1 {
            font-size: 29px;
        }
        p {
            // background-colo  r: red;
            font-size: 16px;
        }
        span {
            font-size: 19px;
        }
        button {
            font-size: 16px;
            // padding: 13px 100px;
            width: 100%;
        }
    }
}